.footer {
    padding: 19px 0 20px;
    background: #07090e;
    font-size: 14px;
    font-weight: 200;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        padding: 23px 0 31px;
    }
    @media screen and (max-width: 749px){
        text-align: center;
        padding-bottom: 29px;
    }
    @media screen and (max-height: 850px) and  (min-width: 1081px) {
        font-size: 11px;
    }
    .wrap {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            flex-wrap: wrap;
        }
    }
    &__items {
        display: flex;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            width: 100%;
        }
        @media screen and (max-width: 749px){
            flex-wrap: wrap;
        }
    }
    &__item {
        padding-right: 23px;
        color: #7c7d7f;
        letter-spacing: 1px;
        span, a {
            color: #7c7d7f;
        }
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            letter-spacing: 0.5px;
        }
        @media screen and (max-width: 749px){
            width: 100%;
            padding-right: 0;
            margin-bottom: 3px;
        }
    }

}
.rights {
    margin-right: 40px;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        letter-spacing: 0.5px;
    }
    @media screen and (max-width: 749px){
        margin-bottom: 14px;
    }
}
