section.home
    .wrap
        .home__body 
            .advantages__work Работаем в Москве и Московской  области
            .home__title.animated-parent
                .home__title-text.letters.text--medium Получите 
                .letters геодезическую  
                .letters съемку
            ul.home__list
                li.home__text.animated
                    span.text--medium от специалистов с опытом 
                    br.br-desktop
                    br.br-planshet
                    span работы более 8 лет 
                li.home__text.animated
                    span.text--medium без проволочек 
                    span с документами
                li.home__text.animated
                    span.text--medium гарантией 
                    span прохождения экспертизы
            .home__btn
                .si-button-pulse 
                    a(href="#quiz").btn.scroll-to.blick 
                        span.text--medium Рассчитать предварительную 
                        br
                        span стоимость
            //- .agree
            //-     img(src="img/agree.png", alt="agree")
            //-     .agree__text Нажимая кнопку «Пройти тест», вы даете согласие на обработку персональных данных и соглашаетесь 
            //-         a(href="policy.html" target="_blank").agree__policy с политикой конфиденциальности
        .advantages
            .advantages__pre 
                span.text--medium Уделите 2 минуты 
                | своего времени на прохождение теста
                br.br-mobile
                | и 
                span.text--bold Вы получите:
                .advantages__pre--planshet Листайте вправо
            .advantages__wrap
                .advantages__item.advantages__item1
                    .advantages__text 
                        span.text--bold Полный перечень 
                        | необходимых документов для прохождения экспертизы
                .advantages__item.advantages__item2
                    .advantages__text 
                        span.text--bold Предварительную стоимость 
                        | топосьемки для любого проектирования
                .advantages__item.advantages__item3 Работаем в Москве и Московской  области
                .advantages__item.advantages__item4
                    .advantages__text
                        span.text--bold Бесплатную инструкцию: 
                        | "как без лишних затрат газифицировать частный дом "

            .advantages__pre--mob Листайте вправо