footer.footer
    .wrap
        .rights ООО «Азбука Диджитал», 2012-2020 . 
        .footer__items
            .footer__item Все права защищены ИНН 
                span 5256182550
            .footer__item ОГРН 
                span 1195275035603


script(src="js/scripts.min.js")
script(src="js/common.js")
