header
	.wrap
		.nav
			a(href="/").logo
				img(src="img/logo-grad.svg", alt="logo")
				.logo__text Инженерные изыскания в Москве и МО
			.menu-wrap
				.menu-toggle 
					.one
					.two
					.three

				nav.main-menu 
					ul
						li
							a(href="#modalDom" target="_blank").example.modal-open
								.example__pic
									img(src="img/icons/pdf-logo.png", alt="example")
									span 1.4 MB
								.example__text 
									span.bold Образец 
									| готового  документа после топосъемки
						li.header__group
							a(href="tel:+74993488825").header__phone +7 499 34-888-25
							.header__adress Прием заявок диспетчерской службой 
								span.bold круглосуточно 24/7
			.mob
				a(href="tel:+74993488825").mob_phone 
					img(src="img/icons/phone.png", alt="phone")