//- #modalFinish.modal.disabled
//-     .modal__wrap  
//-         .close.modal-close
//-             svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
//-                 g(stroke='none', stroke-width='1', fill-rule='evenodd')
//-                     rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
//-                     rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
//-         .modal__body
//-             .modal__body-pic
//-             .modal__title Спасибо!
//-             .modal__subtitle Скоро мы с вами свяжемся.<br>
//-                 span А пока можете ознакомиться <br>с обещанными бонусами
.modalLeave.modal.disabled
    .modal__wrap.animated.fadeInDown    
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal__title Пошаговая инструкция  по газификации  частного домаu
            .modal__subtitle Мы будем Вас ждать
            //- .step-slide.step-slide--finish
            //-     .modal__title 
            //-         span Вас отделяет всего 1 шаг
            //-         | Мы подготовим 3 варианта с расчётом 
            //-         br.br-desctop
            //-         | эффективности продающего сайта для Вашего бизнеса 

            //-     .modal__subtitle Наши маркетологи уже изучают Ваши ответы, чтобы проанализировать <br> эффективность внедрения продающего сайта в Вашем бизнесе. 
            //-         br
            //-         span Осталось корректно заполнить форму, чтобы получить всю информацию

            //-     .finish__body
            //-         .finish-form
            //-             .modal__title 
            //-                 span Вам куда удобнее отправить расчет?
            //-             .useful.social
            //-                 label.useful__item
            //-                     input.useful__input(type='radio', name='question11', value='sms')
            //-                     .useful__label.social__item.social--sms 
            //-                         img(src="img/icons/sms.png", alt="sms") 
            //-                         span sms
            //-                 label.useful__item
            //-                     input.useful__input(type='radio', name='question11', value='sms')
            //-                     .useful__label.social__item.social--viber 
            //-                         img(src="img/icons/viber.svg", alt="viber") 
            //-                         span Viber
            //-                 label.useful__item
            //-                     input.useful__input(type='radio', name='question11', value='Telegram')
            //-                     .useful__label.social__item.social--telegram 
            //-                         img(src="img/icons/telegram.svg", alt="telegram") 
            //-                         span Telegram
            //-                 label.useful__item
            //-                     input.useful__input(type='radio', name='question11', value='WhatsApp')
            //-                     .useful__label.social__item.social--wa 
            //-                         img(src="img/icons/wa.png", alt="WhatsApp") 
            //-                         span WhatsApp

            //-             .form-line
            //-                 label
            //-                     input(type="text" placeholder="Введите Ваш номер телефона" name="phone").rfield.phone-mask
            //-                 .form-line-btn
            //-                     .btn.btn-finish(data-modal="#modalFinish").si-button-pulse
            //-                         .blick
            //-                             .ident
            //-                                 input(type="submit" value="Получить расчет").quiz__btn 
                       